<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: pink;  
}  
button {   
       background-color: #4CAF50;   
       width: 100%;  
        color: orange;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #f1f1f1;   
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 25px;   
        background-color: lightblue;  
    }   
</style>   
</head>    
<body>    
    <center> <h1> Profile </h1> </center> 
    <form action="/login/v1/updateprofile?email={{.Email}}" method="POST"> 
        <div class="container"> 
            <label>Email : </label>  
            {{if not .GoogleSignIn}}   
              <input type="text" value="{{.Email}}" name="email" required>
            {{else}} 
              <input type="text" value="{{.Email}}" name="email" readonly="readonly"> 
            {{end}}
            <label>Address : </label>   
            <input type="text" value="{{.Address}}" name="address" required>
            <label>Name : </label>   
            <input type="text" value="{{.Name}}" name="name" required>  
            <label>Telephone : </label>   
            <input type="text" value="{{.Telephone}}" name="telephone" required>       
            <button type="submit">Save</button>  
            <br>
            <a href="/login/v1"> Cancel </a>      
        </div>   
    </form>     
</body>     
</html>  